<nav data-ng-controller="NavCtrl">
  <div>
    NAV<br>
    <a href="" data-ng-click="me()">Me?</a>
    <a href="" data-ng-click="logout()">logout</a>
    <a href="" data-ng-click="isAlive()">alive?</a>
    {{isAlive}}
  </div>
</nav>
