<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span> 회원가입</h1>
    <div data-ng-class="{'has-error' : validator.server.type == 'error', 'has-correct' : validator.server.type == 'correct'}" data-ng-show="validator.server.message">{{validator.server.message}}</div>
    <form class="form" name="form" data-ng-submit="signup()" novalidate>
      <div class="form-group">
        <label>로그인 이메일</label>
        <div data-ng-class="{'has-error' : validator.email.type == 'error', 'has-correct' : validator.email.type == 'correct'}" data-ng-show="validator.email.message">{{validator.email.message}}</div>
        <input data-ng-change="validateEmail('signup')" type="text" class="form-control" name="email" data-ng-model="user.email">
        <a data-ng-show="validator.email.type=='correct'" href="" data-ng-click="checkEmail()">중복확인</a>
      </div>
      <div class="form-group">
        <label>사용할 별명</label>
        <div data-ng-class="{'has-error' : validator.nick.type == 'error', 'has-correct' : validator.nick.type == 'correct'}" data-ng-show="validator.nick.message">{{validator.nick.message}}</div>
        <input data-ng-change="validateNick()" type="text" class="form-control" name="nick" data-ng-model="user.nick">
        <a data-ng-show="validator.nick.type=='correct'" href="" data-ng-click="checkNick()">중복확인</a>
      </div>
      <div class="form-group">
        <label>비밀번호</label>
        <div data-ng-class="{'has-error' : validator.password.type == 'error', 'has-correct' : validator.password.type == 'correct'}" data-ng-show="validator.password.message">{{validator.password.message}}</div>
        <input data-ng-change="validatePassword()" type="password" class="form-control" name="password" data-ng-model="user.password">
      </div>
      <div class="form-group">
        <label>비밀번호 확인</label>
        <div data-ng-class="{'has-error' : validator.confirm.type == 'error', 'has-correct' : validator.confirm.type == 'correct'}" data-ng-show="validator.confirm.message">{{validator.confirm.message}}</div>
        <input data-ng-change="validateConfirm()" type="password" class="form-control" name="confirm" data-ng-model="user.confirm">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">신청합니다!</button>
    </form>
    <br>
    <p>이미 회원이시라면 로그인하세요. <a href="#!login">로그인</a></p>
    <p>첫화면으로 돌아가시려면? <a href="#!/">처음으로</a></p>
  </div>
</div>
