<div class="container" data-ng-controller="AuthCtrl">
  <div class="col-sm-6 col-sm-offset-3">
    <h1><span class="fa fa-sign-in"></span>Sign Up</h1>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" data-ng-model="user.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" data-ng-model="user.password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirm" data-ng-model="user.confirm">
      </div>
      <button data-ng-click="signup()" type="submit" class="btn btn-warning btn-lg">Sign Up</button>
    <p>Already have a account? <a href="#!login">Login</a></p>
    <p>Or go <a href="#!/">Home</a>.</p>
  </div>
</div>
