<!doctype html>
<html>

<head>
    <title>Node Authentication</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/debug.css">

    <!-- jQuery.js and bootstrap.js -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular.js -->
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>

</head>

<body class="container-fluid" data-ng-app="_app">

    <div class="row">
        <header class="col-sm-12" data-ng-include="'/views/partials/header.html'"></header>
    </div>
    <div class="row">
        <nav class="col-sm-12" data-ng-include="'/views/partials/nav.html'"></nav>
    </div>
    <div class="row">
        <aside class="col-sm-1" data-ng-include="'/views/partials/aside.html'"></aside>
        <section class="col-sm-11 data-ng-view"></section>
    </div>
    <div class="row">
        <footer class="col-sm-12" data-ng-include="'/views/partials/footer.html'"></footer>
    </div>


    <script type="text/javascript" src="/modules/modules.js"></script>

    <script type="text/javascript" src="/services/public.js"></script>
    <script type="text/javascript" src="/controllers/public.js"></script>
    <script type="text/javascript" src="/routes/public.js"></script>

    <script type="text/javascript" src="/routes/auth.js"></script>
    <script type="text/javascript" src="/services/auth.js"></script>
    <script type="text/javascript" src="/controllers/auth.js"></script>

    <script type="text/javascript" src="/routes/site.js"></script>
    <script type="text/javascript" src="/controllers/site.js"></script>

    <script type="text/javascript" src="/routes/distributor.js"></script>
    <script type="text/javascript" src="/controllers/distributor.js"></script>

    <script type="text/javascript" src="/routes/match.js"></script>
    <script type="text/javascript" src="/controllers/match.js"></script>
    <script type="text/javascript" src="/controllers/matchkind.js"></script>
    <script type="text/javascript" src="/controllers/matchleague.js"></script>

    <script type="text/javascript" src="/routes/user.js"></script>
    <script type="text/javascript" src="/controllers/user.js"></script>

</body>

</html>
