<!doctype html>
<html>

<head>
    <title>TOX2</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/debug.css">

    <!-- jQuery.js and bootstrap.js -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
    test
</body>

</html>
