<div class="input-group">
  <input type="text" class="form-control" data-ng-model="_query.distributor">
  <div class="input-group-btn" data-ng-click="GetList('distributor', '/distributor/all')">
    <button type="button" id="btn-distributor" class="btn btn-default dropdown-toggle ladda-button" data-style="zoom-in" data-spinner-color="black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="ladda-label">총판 <span class="caret"></span></span>
        <span class="ladda-spinner"></span>
        <div class="ladda-progress" style="width: 0px;"></div>
      </button>
    <ul class="dropdown-menu">
      <li><a href data-ng-click="_query.distributor = '전체'">전체</a></li>
      <li data-ng-repeat="item in _queryFilter.distributor.list"><a href data-ng-click="_query.distributor = item.name">{{item.name}}</a></li>
    </ul>
  </div>
</div>
