<!-- first div class attr have 'col-xx-10' fixed. -->
<div class="row" data-ng-controller="DistributorBeginningCtrl">
  <div class="col-sm-12">

    <!-- 1. Subject Info zone -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <h1>총판</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <center>
          <span style="font-size: 20px">
            <span class="glyphicon glyphicon-ok" style="font-size: 20px"></span>
            <span style="font-size: 20px">아직 <span style="color:red">총판</span>이 없으신가요?</span>
            <br><br>
            <span>다양한 총판중에 하나를 선택하여</span>
            <span style="color:green">
              <span class="glyphicon glyphicon-log-in"></span> 가입하거나
            </span>
            <br><br>
            <span>또는 직접</span>
            <span style="color:royalblue">
              <span class="glyphicon glyphicon-cog"></span> 생성하여
            </span>
            <span>자기만의 방식으로 운영할 수 있습니다.</span>
            <br><br>
            <span style="color:red">총판</span><span>에 가입하여 더욱 다양한 혜택을 누리세요!</span>
          </span>
        </center>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-sm-6">
        <a href="#!/distributor/signup"><button class="btn btn-success pull-right" style="padding: 24px 80px; font-size: 24px; border-radius: 10px; background-color: transparent; color:green">가입하기</button></a>
      </div>
      <div class="col-sm-6">
        <a href="#!/distributor/setup"><button class="btn btn-primary" style="padding: 24px 80px; font-size: 24px; border-radius: 10px; background-color: transparent; color:royalblue">생성하기</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <center>
        </center>
      </div>
    </div>

  </div>
</div>
