<div class="row" data-ng-controller="NavCtrl">
  <div id="navbar-main-menu" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">
          <img id="logo" src="/images/logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-menu">
        <p style="font-size: 50px;"class="navbar-text">Signed in as Mark Otto</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" data-ng-controller="NavCtrl">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-justified">
          <li role="presentation" class="active"><a href="#">배팅</a></li>
          <li role="presentation"><a href="#">총판</a></li>
          <li role="presentation"><a href="#">랭킹</a></li>
          <li role="presentation"><a href="#">게시판</a></li>
          <li role="presentation"><a href="#">내 정보</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-pills">
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/my/deposit">입금 신청</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/my/withdrawal">출금 신청</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/my/message">쪽지함</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/community/board/free">자유게시판</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/community/question">고객문의</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/distributor/beginning">총판가입안내</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/distributor/setup">총판생성</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/distributor/signup">총판가입</a></li>
          <li role="presentation"><a>|</a></li>
          <li role="presentation"><a href="#!/distributor/info">총판정보</a></li>
          <li role="presentation"><a>|</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
