@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@font-face {
    font-family: 'Nanum';
    src: url("../fonts/NanumSquareL.ttf");
}

input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

span.input-group-addon {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: transparent;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #56cbf2;
    color: #56cbf2;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    background: none;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: none;
}

.login-form {
}

.brand-image {
    padding: 100px 0;
}

.text-logo {
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 120px;
}

.text-logo-head {
    color: rgb(255, 255, 255);
}

.text-logo-body {
    color: rgb(226, 175, 61);
}

.description-wrapper {
    margin: 120px 0;
}

@media screen and (max-width: 768px) {
    .description-wrapper {
        margin: 40px 0;
    }
}

.description {
    font-family: 'Nanum';
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.word-free {
    font-weight: bold;
    color: rgb(220, 0, 0);
}
