<breadcrumb current-path-bind="_path"></breadcrumb>

<view-title title-info-bind="_viewTitle"></view-title>

<div class="portlet box green-soft" data-ng-show="_formSwitch">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-user"></i> 게시글 작성
    </div>
  </div>
  <div class="portlet-body form">
    <form class="form-horizontal form-bordered">
      <div class="form-body">
        <div class="form-group">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">글쓴이 구분</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn" data-ng-class="{'purple': _item.writerType === '운영자', 'btn-default': _item.writerType !== '운영자'}" data-ng-click="SetWriterType('운영자')">운영자</button>
              <button type="button" class="btn" data-ng-class="{'dark': _item.writerType === '가상', 'btn-default': _item.writerType !== '가상'}" data-ng-click="SetWriterType('가상')">가상</button>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-show="_item.writerType === '가상'">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label"><span class="text-danger">(필수) </span>닉네임</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <input type="text" class="form-control" data-ng-model="_item.nick">
          </div>
        </div>
        <div class="form-group" data-ng-show="_item.writerType === '가상'">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">사이트</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="_item.site">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  선택 <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li data-ng-repeat="s in _sites"><a href data-ng-click="_item.site = s.name">{{s.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-show="_item.writerType === '가상'">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">레벨</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <input type="text" class="form-control" data-ng-model="_item.level">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">공지 여부</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn" data-ng-class="{'green': _item.top, 'btn-default': !_item.top}" data-ng-click="_item.top = true" data-ng-disabled="_item.writerType === '가상'">공지</button>
              <button type="button" class="btn" data-ng-class="{'blue': !_item.top, 'btn-default': _item.top}" data-ng-click="_item.top = false">일반</button>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-show="!_item.top">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label"><span class="text-danger">(필수) </span>게시판 구분</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <select class="form-control" data-ng-model="_item.sort">
                <option value="">게시판 선택</option>
                <option value="자유게시판">자유게시판</option>
                <option value="노하우/공략">노하우/공략</option>
                <option value="건의/오류제보">건의/오류제보</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">공개 여부</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <div class="btn-group">
              <button type="button" class="btn" data-ng-class="{'red': _item.show, 'btn-default': !_item.show}" data-ng-click="_item.show = true">공개</button>
              <button type="button" class="btn" data-ng-class="{'yellow': !_item.show, 'btn-default': _item.show}" data-ng-click="_item.show = false">비공개</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 col-md-2 col-lg-3 control-label">제목</label>
          <div class="col-sm-10 col-md-10 col-lg-6">
            <input type="text" class="form-control" data-ng-model="_item.title">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-offset-3 col-lg-6">
            <div summernote height="500" data-ng-model="_item.content"></div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-sm-12">
            <center>
              <button type="button" class="btn btn-circle green-soft" data-ng-if="_formAction === 'CREATE'" data-ng-click="Add()">완료</button>
              <button type="button" class="btn btn-circle yellow" data-ng-if="_formAction === 'MODIFY'" data-ng-click="Modify()">저장</button>
              <button type="button" class="btn btn-circle grey-salsa btn-outline" data-ng-click="CloseForm()">취소</button>
            </center>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="portlet light" data-ng-show="_fBoardForm">
  <div class="portlet-body">
    <div summernote></div>
  </div>
</div>

<search-form query-bind="_query" search-filter-bind="_searchFilter" action-function-bind="List"></search-form>

<div class="portlet light">
  <div class="portlet-body">

    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-circle red-soft" data-ng-click="BulkRemove()">완전 삭제</button>
        <button class="btn btn-circle purple-wisteria" data-ng-click="BulkShowToggle()">공개/비공개</button>
        <button class="btn btn-circle green-dark" data-ng-click="CreateForm()">글쓰기</button>
      </div>
    </div>

    <div class="table-scrollable">
      <table class="table table-hover table-center table-align-center table-nowrap">
        <thead>
          <tr class="active">
            <th><input type="checkbox" data-ng-click="SelectAll()" data-ng-model="_selectLeader"></th>
            <th>No.</th>
            <th>사이트</th>
            <th>구분</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>공개</th>
            <th>작성일시</th>
            <th>옵션</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable" data-ng-repeat="doc in _list" data-toggle="modal" data-target="#detailView" data-ng-click="DetailView(doc)">
            <td stop-click><input type="checkbox" data-ng-init="_list[$index]._cbExist = true" data-ng-model="_list[$index]._cbSelected"></td>
            <td>{{ doc._id }}</td>
            <td>{{ doc.site }}</td>
            <td>{{ doc.form }}</td>
            <td><span class="text-danger" data-ng-show="doc.top"><공지></span>{{ doc.title | truncate: 25 }}</td>
            <td>{{ doc.nick }}</td>
            <td>{{ doc.hit.count }}</td>
            <td stop-click>
              <button type="button" class="btn btn-xs green-seagreen" data-ng-click="ShowToggle(doc._id, 'WRITING')" data-ng-show="doc.show">공개</button>
              <button type="button" class="btn btn-xs purple-wisteria" data-ng-click="ShowToggle(doc._id, 'WRITING')" data-ng-hide="doc.show">비공개</button>
            </td>
            <td>{{ doc.createdAt }}</td>
            <td stop-click>
              <button type="button" class="btn btn-xs yellow" data-ng-click="ModifyForm(doc)">수정</button>
              <button type="button" class="btn btn-xs red-soft" data-ng-click="Remove(doc._id)">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination last-page-bind="_lastPage" query-bind="_query" action-function-bind="List"></pagination>

  </div>
</div>

<div class="modal fade" id="detailView" tabindex="-1" role="dialog" data-backdrop="static" style="height: 80%">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">게시글 확인</h4>
      </div>
      <div class="modal-body">

        <detail-view detail-view-format-bind="_detailViewFormat"></detail-view>

        <div class="detail-view">
          <div class="detail-view-row row last-row">
            <div class="col-sm-2 detail-view-label">
              댓글({{_item.reply.length}})
            </div>
            <div class="col-sm-10 detail-view-column last-column">
              <button class="btn btn-circle yellow" data-ng-click="GetReply(_item)" data-ng-show="_item.reply.length > 0 && !_dvfReplyShow">펼치기</button>
              <span data-ng-show="_item.reply.length === 0 && !_dvfReplyShow">(없음)</span>
              <div data-ng-repeat="rp in _item.reply" data-ng-show="_item.reply.length > 0 && _dvfReplyShow">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-9">
                        {{rp.nick}}
                      </div>
                      <div class="col-sm-3">
                        <button class="btn btn-xs" data-ng-class="{'purple': rp.show, 'green': !rp.show}" data-ng-click="ShowToggle(rp._id, 'REPLY')">
                          <span data-ng-show="rp.show"><i class="fa fa-toggle-off"></i> 비공개</span>
                          <span data-ng-hide="rp.show"><i class="fa fa-toggle-on"></i> 공개</span>
                        </button>
                        <button class="btn btn-xs red" data-ng-click="RemoveReply(rp._id)"><i class="fa fa-trash"></i> 삭제</button>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    {{rp.content}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div data-ng-show="_dvfReplyCreate">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-2 control-label">작성자</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="(닉네임)" data-ng-model="_reply.nick">
              </div>
              <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="(레벨)" data-ng-model="_reply.level">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword12" class="col-sm-2 control-label">내용</label>
              <div class="col-sm-9">
                <textarea type="text" class="form-control textarea-fixed-row" rows="3" data-ng-model="_reply.content"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn blue" data-ng-click="CreateReply()">저장</button>
                <button type="button" class="btn dark btn-outline" data-ng-click="CancelCreateReply()">취소</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-circle red-soft" data-dismiss="modal" data-ng-click="Remove(_item._id)">삭제</button>
            <button class="btn btn-circle yellow" data-dismiss="modal" data-ng-click="ModifyForm(_item)">수정</button>
            <button class="btn btn-circle green-meadow pull-right" data-ng-click="_dvfReplyCreate = true">댓글 추가</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue-sharp" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
