<!doctype html>
<html>

<head>
    <title>TOX2</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Change the TOTO world.">
    <meta name="author" content="Zeros">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin-config.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>

</head>

<body>
    <div class="container-table">
        <div class="vertical-center-row">
            <a href="/customer">
                <div class="item-wrapper">
                    <center>
                        <div class="thumbnail">
                            <span class="thumbnail-image glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            <div class="caption">
                                <h1>사이트</h1>
                            </div>
                        </div>
                    </center>
                </div>
            </a>
            <a href="/admin">
                <div class="item-wrapper">
                    <center>
                        <div class="thumbnail">
                            <span class="thumbnail-image glyphicon glyphicon-user" aria-hidden="true"></span>
                            <div class="caption">
                                <h1>관리자</h1>
                            </div>
                        </div>
                    </center>
                </div>
            </a>
        </div>
    </div>

    <!-- jQuery.js and bootstrap.js -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
