<!doctype html>
<html>

<head>
    <title>TOX2</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Change the TOTO world.">
    <meta name="author" content="Zeros">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/debug.css">

</head>

<body class="container" data-ng-app="__customer">

    <div class="row">
        <header class="col-sm-12" data-ng-include="'/customer/views/partials/header.html'"></header>
    </div>
    <div class="row">
        <nav class="col-sm-12" data-ng-include="'/customer/views/partials/nav.html'"></nav>
    </div>
    <div class="row">
        <section class="col-sm-12 data-ng-view"></section>
    </div>
    <div class="row">
        <footer class="col-sm-12" data-ng-include="'/customer/views/partials/footer.html'"></footer>
    </div>

    <!-- jQuery.js and bootstrap.js -->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular.js built in modules -->
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>

    <!-- Angular.js -->
    <script type="text/javascript" src="/customer/module.js"></script>
    <script type="text/javascript" src="/customer/route.js"></script>
    <script type="text/javascript" src="/customer/services/auth.js"></script>
    <script type="text/javascript" src="/customer/services/public.js"></script>
    <script type="text/javascript" src="/customer/services/crud.js"></script>

    <script type="text/javascript" src="/customer/controllers/patials/header.js"></script>
    <script type="text/javascript" src="/customer/controllers/patials/nav.js"></script>
    <script type="text/javascript" src="/customer/controllers/patials/aside.js"></script>
    <script type="text/javascript" src="/customer/controllers/patials/footer.js"></script>

    <script type="text/javascript" src="/customer/controllers/index.js"></script>

</body>

</html>
