<!-- first div class attr have 'col-xx-10' fixed. -->
<div class="row" data-ng-controller="ManagerCtrl">
    <div class="col-sm-11">
        <!-- 1. Subject Info zone -->
        <div class="row">
            <div class="page-header">
                <h1>관리자 설정</h1>
            </div>
        </div>

        <br>
        <!-- 2. Alert Message zone -->
        <div class="row">
            <div data-ng-class="{'alert alert-danger' : validator.type == 'error', 'alert alert-info' : validator.type == 'info', 'alert alert-success' : validator.type == 'correct'}" data-ng-show="validator.message">{{validator.message}}</div>
        </div>

        <br>
        <!-- 3. Custom form zone -->
        <div class="row">
          <div class="col-sm-3">
              <div class="form-group">
                  <label>연락처 설정 보너스</label>
                  <input type="text" class="form-control" data-ng-model="targetBonusPhone" placeholder="">
              </div>
          </div>
          <div class="col-sm-3">
              <div class="form-group">
                  <label>이메일 설정 보너스</label>
                  <input type="text" class="form-control" data-ng-model="targetBonusEmail" placeholder="">
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary" data-ng-click="Save()">저 장</button>
          </div>
        </div>
    </div>
</div>
