<!-- first div class attr have 'col-xx-10' fixed. -->
<div class="row" data-ng-controller="UserHistoryCtrl">
  <div class="col-sm-11">
    <!-- 1. Subject Info zone -->
    <div class="row">
      <div class="page-header">
        <h1>접속기록<button type="button" class="btn btn-primary btn-xs" data-ng-click="FormOpen('CREATE')">추가</button></h1>
      </div>
    </div>

    <!-- 2. Alert Message zone -->
    <div class="row">
      <br>
      <div data-ng-class="{'alert alert-danger' : validator.type == 'error', 'alert alert-info' : validator.type == 'info', 'alert alert-success' : validator.type == 'correct'}" data-ng-show="validator.message">{{validator.message}}</div>
    </div>

    <!-- 3. Custom form zone -->
    <div data-ng-show="formSwitch" class="row">
      <br>
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-4">
                <label class="panel-title">접속기록</label>
              </div>
              <div class="col-sm-8">
                <div class="btn-group pull-right" role="group">
                  <button type="button" data-ng-class="{'btn btn-success' : targetState === '로그인 완료', 'btn btn-default' : targetState !== '로그인 완료'}" data-ng-click="targetState = '로그인 완료'">로그인 완료</button>
                  <button type="button" data-ng-class="{'btn btn-warning' : targetState === '아이디 틀림', 'btn btn-default' : targetState !== '아이디 틀림'}" data-ng-click="targetState = '아이디 틀림'">아이디 틀림</button>
                  <button type="button" data-ng-class="{'btn btn-danger' : targetState === '비밀번호 틀림', 'btn btn-default' : targetState !== '비밀번호 틀림'}" data-ng-click="targetState = '비밀번호 틀림'">비밀번호 틀림</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-3">
                <label>닉네임</label>
                <input type="text" class="form-control" data-ng-readonly="formMode === 'UPDATE'" data-ng-model="targetNick" placeholder="(한글, 영문, 숫자 조합으로 2자 이상 16자 이내)">
              </div>
              <div class="col-sm-3">
                <label>사이트</label>
                <div class="input-group">
                  <input type="text" class="form-control" data-ng-readonly="formMode === 'UPDATE'" data-ng-model="targetSite">
                  <div class="input-group-btn">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" data-ng-disabled="formMode === 'UPDATE'" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li data-ng-repeat="site in siteList"><a href="" data-ng-click="SelectSite(site.name)">{{site.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <label>도메인</label>
                <input type="text" class="form-control" data-ng-readonly="formMode === 'UPDATE'" data-ng-model="targetDomain" placeholder="(도메인 주소)">
              </div>
              <div class="col-sm-3">
                <label>아이피(IP)</label>
                <input type="text" class="form-control" data-ng-readonly="formMode === 'UPDATE'" data-ng-model="targetIp" placeholder="(아이피 주소)">
              </div>
            </div>
            <br>
            <div class="row">
              <center>
                <button type="submit" class="btn btn-primary" data-ng-show="formMode === 'CREATE'" data-ng-click="Create()">추가</button>
                <!-- <button type="submit" class="btn btn-warning" data-ng-show="formMode === 'UPDATE'" data-ng-click="Update()">확인</button> -->
                <button type="submit" class="btn btn-warning" data-ng-show="formMode === 'UPDATE'" data-ng-click="FormClose()">확인</button>
                <button type="button" class="btn btn-danger" data-ng-click="FormClose()">취소</button>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 4. exception of no data zone -->
    <div data-ng-hide="docs.length > 0" class="row">
      <br>
      <button type="button" class="btn btn-success btn-lg" data-ng-click="Search('RESET')">처음으로</button>
    </div>

    <br>
    <div class="row" data-ng-show="docs.length > 0">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-2">
                <div class="input-group">
                  <input type="text" class="form-control" data-ng-model="query.pageSize">
                  <span class="input-group-btn"><button class="btn btn-default" type="button" data-ng-click="ChangePageSize()">줄</button></span>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="input-group">
                  <input type="text" class="form-control" data-ng-model="query.state">
                  <div class="input-group-btn ">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">상태 <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="" data-ng-click="query.state = '전체'">전체</a></li>
                        <li><a href="" data-ng-click="query.state = '로그인 완료'">로그인 완료</a></li>
                        <li><a href="" data-ng-click="query.state = '비밀번호 틀림'">비밀번호 틀림</a></li>
                        <li><a href="" data-ng-click="query.state = '아이디 틀림'">아이디 틀림</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <input type="text" class="form-control" data-ng-model="query.site">
                  <div class="input-group-btn">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">사이트 <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="" data-ng-click="query.site = '전체'">전체</a></li>
                        <li data-ng-repeat="site in siteList"><a href="" data-ng-click="query.site = site.name">{{site.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="input-group pull-right">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-ng-show="query.searchFilter">{{query.searchFilter}} </span>
                                            <span data-ng-hide="query.searchFilter">선택 </span>
                                            <span class="caret"></span>
                                        </button>
                    <ul class="dropdown-menu">
                      <li data-ng-repeat="sch in searchFilters"><a href="" data-ng-click="query.searchFilter = sch">{{sch}}</a></li>
                    </ul>
                  </div>
                  <input type="text" class="form-control" data-ng-model="query.searchKeyword">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-success dropdown-toggle" data-ng-click="Search()">검색하기</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-ng-click="Search('RESET')">처음으로</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 6. main list zone -->
    <div class="row">
      <div class="col-sm-12" data-ng-show="docs.length > 0">
        <table class="table table-hover table-center">
          <thead>
            <tr>
              <th><input type="checkbox" data-ng-model="selectAllSwitch" data-ng-click="SelectAll()"></th>
              <th>사이트</th>
              <th>닉네임</th>
              <th>도메인</th>
              <th>아이피(IP)</th>
              <th>접속일시</th>
              <th>상태</th>
              <th>옵션</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="doc in docs">
              <td><input type="checkbox" data-ng-model="docs[$index].checked"></td>
              <td>{{ doc.site }}</td>
              <td>{{ doc.nick }}</td>
              <td>{{ doc.domain }}</td>
              <td>{{ doc.ip }}</td>
              <td>{{ doc.createdAt }}</td>
              <td data-ng-class="{'success' : doc.state === '로그인 완료', 'warning': doc.state === '비밀번호 틀림', 'info' : doc.state === '아이디 틀림'}">{{ doc.state }}</td>
              <td>
                <button type="button" class="btn btn-success btn-xs" data-ng-click="FormOpen('UPDATE', doc._id)"><span>확인</span></button>
                <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal" data-ng-click="SetTargetBanIP(doc.ip)">차단</button>
                <button type="button" class="btn btn-danger btn-xs" data-ng-click="Delete(doc._id, 'ONE')">삭제</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-danger btn-md" data-ng-click="DeleteAll()">선택삭제</button>
      </div>
    </div>

    <!-- list pagination zone -->
    <div class="row">
      <div class="col-sm-12">
        <center>
          <ul class="pagination">
            <li>
              <a href="" aria-label="Previous" data-ng-click="PreviousPage()">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li data-ng-repeat="page in pages" data-ng-class="{active : page.active}"><a href="" data-ng-click="MovePage(page.number)">{{page.number}}</a></li>
            <li>
              <a href="" aria-label="Next" data-ng-click="NextPage()">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </center>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">아이피 차단 사유</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" data-ng-model="targetReason">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="BanIP()" >완료</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>
</div>
