<!-- first div class attr have 'col-xx-10' fixed. -->
<div class="row" data-ng-controller="UserCtrl">
    <div class="col-sm-11">
        <!-- 1. Subject Info zone -->
        <div class="row">
            <div class="page-header">
                <h1>회원 관리<button type="button" class="btn btn-primary btn-xs" data-ng-click="FormOpen('CREATE')">추가</button></h1>
            </div>
        </div>

        <!-- 2. Alert Message zone -->
        <div class="row">
            <br>
            <div data-ng-class="{'alert alert-danger' : validator.type == 'error', 'alert alert-info' : validator.type == 'info', 'alert alert-success' : validator.type == 'correct'}" data-ng-show="validator.message">{{validator.message}}</div>
        </div>

        <!-- 3. Custom form zone -->
        <div data-ng-show="formSwitch" class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">상세정보</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>아이디</label>
                                <input type="text" class="form-control" data-ng-model="targetUid" placeholder="(영소문자, 숫자 / 2자 이상 16자 이내)">
                            </div>
                            <div class="col-sm-3">
                                <label>닉네임</label>
                                <input type="text" class="form-control" data-ng-model="targetNick" placeholder="(한글, 영문, 숫자 / 2자 이상 16자 이내)">
                            </div>
                            <div class="col-sm-3">
                                <label>회원상태</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="targetState">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="targetState = '정지'">정지</a></li>
                                                <li><a href="" data-ng-click="targetState = '일반'">일반</a></li>
                                                <li><a href="" data-ng-click="targetState = '테스터'">테스터</a></li>
                                                <li><a href="" data-ng-click="targetState = '운영자'">운영자</a></li>
                                                <li><a href="" data-ng-click="targetState = '관리자'">관리자</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>사이트</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="targetSite">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="targetSite=''">없음</a></li>
                                                <li data-ng-repeat="site in siteList"><a href="" data-ng-click="SelectSite(site.name)">{{site.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>비밀번호</label>
                                <input type="text" class="form-control" data-ng-model="targetPassword" placeholder="(한글, 영문, 숫자, 특수문자 / 8자 이상 30자 이내)">
                            </div>
                            <div class="col-sm-3">
                                <label>연락처</label>
                                <input type="text" class="form-control" data-ng-model="targetPhone" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>총판</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="targetDistributor" placeholder="사이트 우선 선택">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-ng-disabled="!targetSite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="targetDistributor=''">없음</a></li>
                                                <li data-ng-repeat="dist in distributorList | orderBy: 'name'"><a href="" data-ng-click="SelectDistributor(dist.name)">{{dist.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>레벨</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="targetLevel" placeholder="사이트 우선 선택">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-ng-disabled="!targetSite" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="targetLevel=''">없음</a></li>
                                                <li data-ng-repeat="lv in levelList | orderBy: 'name'"><a href="" data-ng-click="SelectLevel(lv.name)">{{lv.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>예금주</label>
                                <input type="text" class="form-control" data-ng-model="targetHolder" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>은행</label>
                                <input type="text" class="form-control" data-ng-model="targetAccountBank" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>계좌</label>
                                <input type="text" class="form-control" data-ng-model="targetAccountNumber" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>인증코드</label>
                                <input type="text" class="form-control" data-ng-model="targetAccountPin" placeholder="숫자 / 4자리 이상 8자리 이내">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>캐쉬</label>
                                <input type="text" class="form-control" data-ng-model="targetCash" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>게임머니</label>
                                <input type="text" class="form-control" data-ng-model="targetMoney" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>빚</label>
                                <input type="text" class="form-control" data-ng-model="targetDebt" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>포인트</label>
                                <input type="text" class="form-control" data-ng-model="targetPoint" placeholder="">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>추천인</label>
                                <input type="text" class="form-control" data-ng-model="targetRecommander" placeholder="">
                            </div>
                            <div class="col-sm-3">
                                <label>이메일</label>
                                <input type="text" class="form-control" data-ng-model="targetEmail" placeholder="">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>메모</label>
                                <button type="button" class="btn btn-success btn-xs" data-ng-click="AddMemo()">추가</button>
                            </div>
                        </div>
                        <div class="row" data-ng-repeat="mm in targetMemo">
                            <br>
                            <div class="col-sm-1">
                                <center>
                                    <button class="btn btn-danger" type="button" data-ng-click="RemoveMemo($index)">X</button>
                                </center>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" data-ng-model="mm.content" placeholder="200자 이내">
                            </div>
                            <div class="col-sm-2">
                                <h5>{{mm.date}}</h5>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <center>
                                <button type="submit" class="btn btn-primary" data-ng-show="formMode === 'CREATE'" data-ng-click="Create()">추가</button>
                                <button type="submit" class="btn btn-warning" data-ng-show="formMode === 'UPDATE'" data-ng-click="Update()">수정</button>
                                <button type="button" class="btn btn-danger" data-ng-click="FormClose()">취소</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4. exception of no data zone -->
        <div data-ng-hide="docs.length > 0" class="row">
            <br>
            <button type="button" class="btn btn-success btn-lg" data-ng-click="Search('RESET')">처음으로</button>
        </div>

        <br>
        <div class="row" data-ng-show="docs.length > 0">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.pageSize">
                                    <span class="input-group-btn"><button class="btn btn-default" type="button" data-ng-click="ChangePageSize()">줄</button></span>
                                </div>
                            </div>
                            <div class="col-sm-offset-4 col-sm-6">
                                <div class="input-group pull-right">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-ng-show="query.searchFilter">{{query.searchFilter}} </span>
                                            <span data-ng-hide="query.searchFilter">선택 </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li data-ng-repeat="sch in searchFilters"><a href="" data-ng-click="query.searchFilter = sch">{{sch}}</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" data-ng-model="query.searchKeyword">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-ng-click="Search()">검색하기</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-ng-click="Search('RESET')">처음으로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.site">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">사이트 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.site = '전체'">전체</a></li>
                                                <li data-ng-repeat="site in siteList"><a href="" data-ng-click="query.site = site.name">{{site.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.distributor">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">총판 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.distributor = '전체'">전체</a></li>
                                                <li data-ng-repeat="dist in distributorFilterList"><a href="" data-ng-click="query.distributor = dist._id">{{dist._id}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.level">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">등급 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.level = '전체'">전체</a></li>
                                                <li data-ng-repeat="level in levelFilterList"><a href="" data-ng-click="query.level = level._id">{{level._id}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.state">
                                    <div class="input-group-btn ">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">상태 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.state = '전체'">전체</a></li>
                                                <li><a href="" data-ng-click="query.state = '정지'">정지</a></li>
                                                <li><a href="" data-ng-click="query.state = '정상'">정상</a></li>
                                                <li><a href="" data-ng-click="query.state = '테스터'">테스터</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6. main list zone -->
        <div class="row">
            <div class="col-sm-12" data-ng-show="docs.length > 0">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-hover table-center">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" data-ng-model="selectAllSwitch" data-ng-click="SelectAll()"></th>
                                    <th class="font-12px">상태</th>
                                    <th class="font-12px">사이트</th>
                                    <th class="font-12px">아이디</th>
                                    <th class="font-12px">닉네임</th>
                                    <th class="font-12px">등급</th>
                                    <th class="font-12px">총판</th>
                                    <th class="font-12px">입금</th>
                                    <th class="font-12px">출금</th>
                                    <th class="font-12px">수익</th>
                                    <th class="font-12px">최근 로그인(도메인)</th>
                                    <th class="font-12px">추천인</th>
                                    <th class="font-12px">옵션</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="doc in docs">
                                    <td><input type="checkbox" data-ng-model="docs[$index].checked"></td>
                                    <td class="font-12px" data-ng-class="{'danger': doc.state === '정지', 'warning': doc.state === '테스터', 'success': doc.state === '일반', 'info': doc.state === '관리자'}">{{ doc.state }}</td>
                                    <td class="font-12px">{{ doc.site }}</td>
                                    <td class="font-12px">{{ doc.uid }}</td>
                                    <td class="font-12px">{{ doc.nick }}</td>
                                    <td class="font-12px">{{ doc.level }}</td>
                                    <td class="font-12px">{{ doc.distributor }}</td>
                                    <td class="font-12px">{{ doc.stat.depositCurrency }}</td>
                                    <td class="font-12px">{{ doc.stat.withdrawalCurrency }}</td>
                                    <td class="font-12px">{{ doc.stat.totalCurrency }}</td>
                                    <td class="font-12px">{{ doc.login.date }}({{ doc.login.domain }})</td>
                                    <td class="font-12px">{{ doc.recommander }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs" data-ng-click="FormOpen('UPDATE', doc._id)">수정</button>
                                        <button type="button" class="btn btn-danger btn-xs" data-ng-click="Delete(doc._id, 'ONE')">삭제</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-md" data-ng-click="DeleteAll()">선택삭제</button>
            </div>
        </div>

        <!-- list pagination zone -->
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <ul class="pagination">
                        <li>
                            <a href="" aria-label="Previous" data-ng-click="PreviousPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li data-ng-repeat="page in pages" data-ng-class="{active : page.active}"><a href="" data-ng-click="MovePage(page.number)">{{page.number}}</a></li>
                        <li>
                            <a href="" aria-label="Next" data-ng-click="NextPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</div>
