<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
  <div class="page-logo">
    <a ui-sref="dashboard">
            <img src="{{settings.layoutPath}}/img/logo.png" alt="logo" class="logo-default" /> </a>
    <div class="menu-toggler sidebar-toggler">
      <span></span>
    </div>
  </div>
  <form class="search-form hide" action="#" method="GET">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search..." name="query">
      <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
    </div>
  </form>
  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>
  <div class="top-menu">
    <ul class="nav navbar-nav realtime-notification">
      <li class="rt-item" data-ng-show="_vars.notification.deposit > 0">
        <a ui-sref="{{__GetLegacy('menu').asset.submenu[0].path}}">
          <div data-ng-click="CheckNotification('deposit')">
            <i class="rt-icon icon-bell">
              <span class="badge badge-default">{{_vars.notification.deposit}}</span>
            </i>
            <span class="rt-name">입금신청: <span class="badge badge-danger">{{_vars.notification.deposit}}</span>건</span>
          </div>
        </a>
      </li>
      <li class="rt-item" data-ng-show="_vars.notification.withdrawal > 0">
        <a ui-sref="{{__GetLegacy('menu').asset.submenu[1].path}}">
          <div data-ng-click="CheckNotification('withdrawal')">
            <i class="rt-icon icon-bell">
              <span class="badge badge-default">{{_vars.notification.withdrawal}}</span>
            </i>
            <span class="rt-name">출금신청: <span class="badge badge-danger">{{_vars.notification.withdrawal}}</span>건</span>
          </div>
        </a>
      </li>
      <li class="rt-item" data-ng-show="_vars.notification.question > 0">
        <a ui-sref="{{__GetLegacy('menu').community.submenu[0].path}}">
          <div data-ng-click="CheckNotification('question')">
            <i class="rt-icon icon-bell">
              <span class="badge badge-default">{{_vars.notification.question}}</span>
            </i>
            <span class="rt-name">고객문의: <span class="badge badge-danger">{{_vars.notification.question}}</span>건</span>
          </div>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown dropdown-user">
        <a href class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
          <img alt="" class="img-circle" data-ng-src="../images/levels/{{__GetUser('me').level}}.png" />
          <span class="username username-hide-on-mobile"> {{__GetUser('me').nick}} </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li>
            <a href>
              <i class="icon-calendar"></i>
              <span>실시간 알림</span>
              <div class="btn-group pull-right" style="bottom: 2px;">
                <button type="button" class="btn btn-xs" data-ng-class="{'btn-success': _vars.notificationFlag, 'btn-default': !_vars.notificationFlag}" data-ng-click="SetNotification(true)">ON</button>
                <button type="button" class="btn btn-xs" data-ng-class="{'btn-danger': !_vars.notificationFlag, 'btn-default': _vars.notificationFlag}" data-ng-click="SetNotification(false)">OFF</button>
              </div>
            </a>
          </li>
          <li>
            <a href>
              <i class="icon-calendar"></i>
              <span>알림 소리</span>
              <div class="btn-group pull-right" style="bottom: 2px;">
                <button type="button" class="btn btn-xs" data-ng-class="{'btn-success': _vars.notificationSoundFlag, 'btn-default': !_vars.notificationSoundFlag}" data-ng-click="SetNotificationSound(true)">ON</button>
                <button type="button" class="btn btn-xs" data-ng-class="{'btn-danger': !_vars.notificationSoundFlag, 'btn-default': _vars.notificationSoundFlag}" data-ng-click="SetNotificationSound(false)">OFF</button>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-envelope-open"></i> My Inbox
              <span class="badge badge-danger"> 3 </span>
            </a>
          </li>
          <li>
            <a href="#/todo">
              <i class="icon-rocket"></i> My Tasks
              <span class="badge badge-success"> 7 </span>
            </a>
          </li>
          <li class="divider"> </li>
          <li><a href="/customer"><i class="icon-lock"></i>회원 사이트</a></li>
          <li><a href="/logout"><i class="icon-key"></i>로그아웃</a></li>
        </ul>
      </li>
      <li class="dropdown dropdown-quick-sidebar-toggler">
        <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                    <span class="badge badge-danger" data-ng-show="__GetUser('newMsgTotal') > 0">N</span>
                </a>
      </li>
    </ul>
  </div>
</div>
