<div class="page-quick-sidebar">
  <div class="messenger-head">
    <span class="messenger-head-title">메신저</span>
  </div>
  <div class="messenger-body">
    <div class="messenger-body-room" data-ng-class="{'messenger-body-shown': _flag.actionMode === 'LIST'}">
      <div class="messenger-body-room-head">
        <div class="messenger-body-room-head-title">
          <span>채팅방 목록({{_item.roomList.length}}) <a href data-ng-click="GetMessengerRoomList()"><i class="fa fa-refresh"></i></a></span>
          <button type="button" class="btn btn-xs btn-outline yellow pull-right" data-ng-click="_roomModify = !_roomModify">편집</button>
        </div>
        <div class="messenger-body-room-head-form" data-ng-show="_roomModify">
          <div class="input-group">
            <input type="text" class="form-control" data-ng-model="_item.roomName">
            <span class="input-group-btn">
              <button class="btn blue" type="button" data-ng-click="AddMessengerRoom()">추가</button>
            </span>
          </div>
        </div>
      </div>
      <div class="messenger-body-room-list">
        <ul class="media-list list-items">
          <li class="media clickable" data-ng-repeat="r in _item.roomList" data-ng-click="JoinRoom(r.name)">
            <div class="media-body">
              <h4 class="media-heading">
                <span>{{r.name}}</span>
                <span class="badge badge-danger" data-ng-show="r.stack > 0">{{r.stack}}</span>
                <button stop-click type="button" class="btn btn-xs btn-outline red pull-right" data-ng-show="_roomModify" data-ng-click="RemoveMessengerRoom(r._id)">X</button>
              </h4>
              <div class="media-heading-sub">
                <small>{{r.createdAt | datetime}} 개설됨</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="messenger-body-chat" data-ng-class="{'messenger-body-shown': _flag.actionMode === 'CHAT'}">
      <div class="messenger-body-chat-head">
        <a href class="back-to-list" data-ng-click="OutRoom()">
          <i class="icon-arrow-left"></i>
          <span>목록</span>
        </a>
      </div>
      <div class="messenger-body-chat-content">
        <div class="post" data-ng-repeat="chat in _item.chatList | orderBy:'createdAt':false" data-ng-class="{'out': chat.uid === _item.me.uid, 'in': chat.uid !== _item.me.uid}">
          <div class="message">
            <span class="arrow"></span>
            <a href class="name">{{chat.nick}}({{chat.uid}})</a>
            <span class="datetime">{{chat.createdAt | datetime}}</span>
            <span class="body">{{chat.text}}</span>
          </div>
        </div>
      </div>
      <div class="messenger-body-chat-form">
        <div class="messenger-body-chat-form-textarea-wrapper">
          <textarea class="form-control textarea-fixed-row" rows="3" data-ng-model="_item.text" data-ng-keydown="KeyControl($event)"></textarea>
        </div>
        <div class="messenger-body-chat-form-button-wrapper">
          <button class="btn green-meadow btn-block" data-ng-click="Send()">전송</button>
        </div>
      </div>
    </div>
  </div>
</div>
