<div class="row" data-ng-controller="HeaderCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">TOX2</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/">사이트 <{{me.site}}></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{me.nick}}({{me.uid}})</a></li>
          <li><a>등급({{me.level}})</a></li>
          <li><a><span class="badge">C</span> {{me.cashCurrency}}</a></li>
          <li><a><span class="badge">G</span> {{me.moneyCurrency}}</a></li>
          <li><a><span class="badge">P</span> {{me.pointCurrency}}</a></li>
          <li><a href="#/messagebox">쪽지함 <span class="badge" data-ng-if="me.messageCount">{{me.messageCount}}</span></a></li>
          <li><a href="/logout">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
