<div class="row" data-ng-controller="NavCtrl">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-justified">
          <li role="presentation" class="active"><a href="#">배팅</a></li>
          <li role="presentation"><a href="#">총판</a></li>
          <li role="presentation"><a href="#">랭킹</a></li>
          <li role="presentation"><a href="#">게시판</a></li>
          <li role="presentation"><a href="#">내 정보</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="#/my/deposit">입금 신청</a></li>
          <li role="presentation"><a href="#/my/withdrawal">출금 신청</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
