<h1 class="page-title">총판 가입<small></small></h1>

<div class="page-bar">
  <ul class="page-breadcrumb">
    <li data-ng-repeat="bc in _breadcrumb">
      <i class="{{bc.icon}}"></i>
      <a ui-sref="{{bc.path}}" data-ng-if="!$last && bc.path !== ''">{{bc.name}}</a>
      <span data-ng-if="$last || bc.path === ''">{{bc.name}}</span>
      <i class="fa fa-angle-right" data-ng-if="!$last"></i>
    </li>
  </ul>
</div>

<div class="portlet light">
  <div class="portlet-body">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown">
          <span data-ng-hide="_query.searchFilter">검색구분 <i class="fa fa-angle-down"></i></span>
          <span data-ng-show="_query.searchFilter">{{_query.searchFilter}} <i class="fa fa-angle-down"></i></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href data-ng-click="_query.searchFilter='총판명'">총판명</a></li>
          <li><a href data-ng-click="_query.searchFilter='총판장'">총판장</a></li>
        </ul>
      </div>
      <!-- /btn-group -->
      <input type="text" class="form-control" data-ng-model="_query.searchKeyword">
      <span class="input-group-btn">
        <button class="btn green-jungle" type="button" data-ng-click="List()"><i class="fa fa-search"></i> 검색</button>
      </span>
      <span class="input-group-btn">
        <button class="btn purple" type="button" data-ng-click="Reset()"><i class="fa fa-refresh"></i> 돌아가기</button>
      </span>
      <!-- /btn-group -->
    </div>
  </div>
</div>

<div class="portlet light" data-ng-repeat="doc in _list">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject bold font-purple-plum"> {{ doc.name }} </span>
      <span class="caption-helper"></span>
    </div>
    <div class="actions">
      <a href="javascript:;" class="btn blue-sharp" data-ng-click="Join(doc)">
        <i class="fa fa-plus"></i> 가입신청
      </a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td class="text-center active">총판장</td>
            <td class="text-center">{{ doc.manager.nick }}</td>
            <td class="text-center active">레벨</td>
            <td class="text-center">{{ doc.level }}</td>
            <td class="text-center active">가입방식</td>
            <td class="text-center">{{ doc.joinStyle }}</td>
          </tr>
          <tr>
            <td class="text-center active">당첨 보너스</td>
            <td class="text-center">{{ doc.bonus.win }} %</td>
            <td class="text-center active">낙첨 보너스</td>
            <td class="text-center">{{ doc.bonus.lose }} %</td>
            <td class="text-center active">합계</td>
            <td class="text-center">{{ doc.bonus.win + doc.bonus.lose }} %</td>
          </tr>
          <tr>
            <td class="text-center active">소개</td>
            <td colspan="5">{{ doc.memo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="portlet light">
  <div class="portlet-body">
    <center>
      <ul class="pagination">
        <li>
          <a href="" aria-label="Previous" data-ng-click="_PreviousPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li data-ng-repeat="page in _pages" data-ng-class="{active : page.active}"><a href="" data-ng-click="_MovePage(page.number)">{{page.number}}</a></li>
        <li>
          <a href="" aria-label="Next" data-ng-click="_NextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </center>
  </div>
</div>
