<table class="table dv-table">
  <thead class="dv-thead">
    <tr class="dv-tr">
      <th class="dv-th" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]"></th>
    </tr>
  </thead>
  <tbody class="dv-tbody" id="dv-tbody" >
    <tr class="dv-tr" data-ng-repeat="dvRow in _detailViewFormat">
      <td class="dv-label" data-ng-repeat-start="dvCol in dvRow" colspan="{{dvCol.width[0]}}">
        {{dvCol.label}}
        <span data-ng-if="dvCol.type === 'board-reply'">
          {{'(' + dvCol.value.reply.length + ')'}}
        </span>
      </td>
      <td class="dv-data" data-ng-repeat-end colspan="{{dvCol.width[1]}}" data-ng-class="{'last-column': $last}">

        <div data-ng-if="dvCol.type === 'text'">
          <input type="text" class="dv-input" value="{{dvCol.value}} {{dvCol.unit}}" readonly="">
        </div>

        <div data-ng-if="dvCol.type === 'number'">
          <input type="text" class="dv-input" value="{{dvCol.value | number}} {{dvCol.unit}}" readonly>
        </div>

        <div data-ng-if="dvCol.type === 'multi-text'">
          <textarea class="textarea-fixed-row dv-textarea" rows="{{dvCol.rows ? dvCol.rows : 3}}" readonly>{{dvCol.value}} {{dvCol.unit}}</textarea>
        </div>

        <div data-ng-if="dvCol.type === 'image'">
          <img data-ng-src="{{dvCol.value}}" height="{{dvCol.height ? dvCol.height:'100px'}}">
        </div>

        <div data-ng-if="dvCol.type === 'board-content'">
          <span data-ng-bind-html="dvCol.value"></span>
        </div>

        <div data-ng-if="dvCol.type === 'site-answer'">
          <button type="button" class="btn green-soft" data-ng-click="_siteAnswerFlag = true" data-ng-show="dvCol.value.length > 0 && !_siteAnswerFlag">펼치기</button>
          <div class="row" data-ng-repeat="ans in dvCol.value" data-ng-show="_siteAnswerFlag">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="input-group">
                    {{ans.action}}
                  </div>
                </div>
                <div class="panel-body">
                  {{ans.title}}
                  <hr>
                  <textarea type="text" class="form-control detail-view-data textarea-fixed-row" rows="3" data-ng-model="ans.content" readonly=""></textarea>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn red-soft" data-ng-click="_siteAnswerFlag = false" data-ng-show="dvCol.value.length > 0 && _siteAnswerFlag">접기</button>
        </div>

        <div data-ng-if="dvCol.type === 'kind-config'">
          <button type="button" class="btn green-soft" data-ng-click="_kindConfigFlag = true" data-ng-show="dvCol.value.length > 0 && !_kindConfigFlag">펼치기</button>
          <div class="row" data-ng-repeat="kc in dvCol.value" data-ng-show="_kindConfigFlag">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  {{kc.name}}
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      최대 조합: {{kc.maxMulti}}경기
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      일반 + 핸디캡: [<span data-ng-if="kc.nah">허용</span><span data-ng-if="!kc.nah">금지</span>]
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      일반 + 언더오버: [<span data-ng-if="kc.nau">허용</span><span data-ng-if="!kc.nau">금지</span>]
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      핸디캡 + 언더오버: [<span data-ng-if="kc.hau">허용</span><span data-ng-if="!kc.hau">금지</span>]
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn red-soft" data-ng-click="_kindConfigFlag = false" data-ng-show="dvCol.value.length > 0 && _kindConfigFlag">접기</button>
        </div>

        <div data-ng-if="dvCol.type === 'board-reply'">
          <button class="btn btn-circle yellow" data-ng-click="dvCol.api.GetReply(); _boardReplyShow = !_boardReplyShow" data-ng-show="dvCol.value.reply.length > 0 && !_boardReplyShow">펼치기</button>
          <div data-ng-repeat="rp in dvCol.value.reply" data-ng-show="_boardReplyShow">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-9">
                    {{rp.nick}}
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-xs" data-ng-class="{'purple': rp.show, 'green': !rp.show}" data-ng-click="dvCol.api.ShowToggle(rp._id, 'REPLY')">
                      <span data-ng-show="rp.show"><i class="fa fa-toggle-off"></i> 비공개</span>
                      <span data-ng-hide="rp.show"><i class="fa fa-toggle-on"></i> 공개</span>
                    </button>
                    <button class="btn btn-xs red" data-ng-click="dvCol.api.RemoveReply(rp._id)"><i class="fa fa-trash"></i> 삭제</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                {{rp.content}}
              </div>
            </div>
          </div>
          <button type="button" class="btn red-soft" data-ng-click="_boardReplyShow = !_boardReplyShow" data-ng-show="dvCol.value.reply.length > 0 && _boardReplyShow">접기</button>
        </div>

        <div data-ng-if="dvCol.type === 'user-memo'">
          <div class="row" data-ng-repeat="m in dvCol.value.memo">
            <div class="col-sm-12">
              <button class="btn btn-xs red" type="button" data-ng-click="dvCol.api.RemoveMemo(m._id)"><i class="fa fa-close"></i></button>
              <span>[{{m.date | datetime}}] {{m.content}}</span>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control" data-ng-model="_userMemo">
                <span class="input-group-btn">
                <button class="btn green-meadow" type="button" data-ng-click="dvCol.api.AddMemo(_userMemo)">추가</button>
              </span>
              </div>
            </div>
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>
