<div class="portlet box green-soft" data-ng-show="_formSwitch">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-user"></i> {{_formFormat.meta.title}}
    </div>
  </div>
  <div class="portlet-body form">
    <div class="alert alert-info" data-ng-if="_formFormat.meta.notice">
      <strong>잠깐!</strong> {{_formFormat.meta.notice}}
    </div>
    <form class="form-horizontal form-bordered">
      <div class="form-body">

        <div class="form-group" data-ng-repeat="e in _formFormat.element" data-ng-hide="Hide(e.hide.target, e.hide.operator, e.hide.value, e.hide.mode)">
          <label class="col-sm-3 col-md-3 col-lg-3 control-label"><span class="text-danger" data-ng-if="e.required">(필수) </span>{{e.label}}</label>


          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'text'">
            <input type="text" class="form-control" dynamic-model="'_item.' + e.bind" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder}}">
          </div>

          <div class="col-sm-7 col-md-6 col-lg-6" data-ng-if="e.type === 'text-text'">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control" dynamic-model="'_item.' + e.bind[0]" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder[0]}}">
              </div>
              <div class="col-sm-6">
                <input type="text" class="form-control xs-margin-top" dynamic-model="'_item.' + e.bind[1]" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder[1]}}">
              </div>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-5" data-ng-if="e.type === 'text-unit'">
            <div class="input-group">
              <input type="text" class="form-control" dynamic-model="'_item.' + e.bind" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder}}">
              <span class="input-group-addon">{{e.unit}}</span>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-5" data-ng-if="e.type === 'unit-text-unit'">
            <div class="input-group">
              <span class="input-group-addon">{{e.preUnit}}</span>
              <input type="text" class="form-control" dynamic-model="'_item.' + e.bind" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder}}">
              <span class="input-group-addon">{{e.unit}}</span>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-5" data-ng-if="e.type === 'multi-text'">
            <textarea type="text" class="form-control textarea-fixed-row" rows="{{e.rows ? e.rows : 3}}" dynamic-model="'_item.' + e.bind" placeholder="{{e.placeholder}}"></textarea>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'image-upload'">
            <span class="text-danger" data-ng-show="_formAction === 'MODIFY'">※ 이미지를 선택하지 않을 경우 기존 이미지가 유지되고, 새 이미지를 선택시 기존 이미지는 삭제됩니다.<br></span>
            <div class="btn yellow-haze" ngf-select dynamic-model="'_item.' + e.bind" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="300KB">이미지 선택</div>
            <img dynamic-ngf-thumbnail="'_item.' + e.bind" ngf-size="{width: 100, height: 100, quality: 0.9}">
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'text-dropdown'">
            <div class="input-group">
              <input type="text" class="form-control" data-ng-class="{'input-readonly': e.inputOnlyDropdown}" dynamic-model="'_item.' + e.bind" placeholder="{{e.placeholder}}" data-ng-readonly="GetReadonly(e.readonly, e.inputMode) || e.inputOnlyDropdown">
              <div class="input-group-btn">
                <button type="button" class="btn dropdown-toggle" data-ng-class="e.dropdown.class ? e.dropdown.class:'btn-default'" data-ng-disabled="GetReadonly(e.readonly)" data-toggle="dropdown">
                  선택 <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li data-ng-repeat="dd in e.dropdown.list"><a href dynamic-click="'_item.' + e.bind + ' = dd[e.dropdown.property]'">{{dd[e.dropdown.property]}}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'select'">
            <ui-select dynamic-model="'_item.' + e.bind" theme="selectize" data-ng-disabled="GetReadonly(e.readonly)" data-ng-show="!_selectMode">
              <ui-select-match placeholder="(검색어 입력 가능)">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="slt[e.select.property] as slt in e.select.list">
                <span ng-bind-html="slt[e.select.property] | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
            <div class="md-checkbox-list">
              <div class="md-checkbox has-error">
                <input type="checkbox" id="checkbox1" class="md-check" data-ng-click="_selectMode = !_selectMode">
                <label for="checkbox1">
                    <span></span>
                    <span class="check"></span>
                    <span class="box"></span> 직접 입력
                </label>
              </div>
            </div>
            <input type="text" class="form-control" dynamic-model="'_item.' + e.bind" placeholder="{{e.placeholder}}" data-ng-show="_selectMode">
          </div>

          <div class="col-sm-7 col-md-6 col-lg-8" data-ng-if="e.type === 'button-group'">
            <div class="btn-group">
              <button type="button" class="btn " data-ng-repeat="b in e.button" data-ng-disabled="_formAction === e.readonly" dynamic-class="'GetButtonClass(e.button, _item.' + e.bind + ', b.value)'" dynamic-click="'_item.' + e.bind + ' = b.value'">{{b.value}}</button>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'spinner'">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn blue btn-outline" type="button" data-ng-click="SpinnerUp(e.bind)" data-ng-disabled="_formAction === e.readonly"><i class="fa fa-plus"></i></button>
              </span>
              <input type="text" class="form-control" dynamic-model="'_item.' + e.bind" data-ng-readonly="_formAction === e.readonly" placeholder="{{e.placeholder}}">
              <span class="input-group-btn">
                <button class="btn red btn-outline" type="button" data-ng-click="SpinnerDown(e.bind)" data-ng-disabled="_formAction === e.readonly"><i class="fa fa-minus"></i></button>
              </span>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'datetime'">
            <table>
              <tbody>
                <tr>
                  <td style="padding-right: 15px;">
                    <div class="input-group">
                      <input type="text" class="form-control input-readonly" uib-datepicker-popup="{{'yyyy-MM-dd'}}" dynamic-model="'_item.' + e.bind" datepicker-options="dateOptions" show-button-bar="false" is-open="_date.isOpen" ng-required="true" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-outline btn-info" ng-click="_date.isOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <div uib-timepicker dynamic-model="'_item.' + e.bind" show-meridian="false"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'date'">
            <div class="input-group">
              <input type="text" class="form-control input-readonly" uib-datepicker-popup="{{'yyyy-MM-dd'}}" dynamic-model="'_item.' + e.bind" datepicker-options="dateOptions" show-button-bar="false" is-open="_date.isOpen" ng-required="true" readonly/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-outline btn-info" ng-click="_date.isOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-4" data-ng-if="e.type === 'time'">
            <div uib-timepicker dynamic-model="'_item.' + e.bind" show-meridian="false"></div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-6" data-ng-if="e.type === 'match-market'">
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn blue-soft" data-ng-click="PushMatchMarket()">새마켓</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default" dynamic-repeat="'mt in _item.' + e.bind">
                  <div class="panel-heading">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{mt.btype}}</span><span data-ng-hide="mt.btype">마켓형식</span> <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:;" data-ng-click="SelectMatchMarketType(mt, '일반')">일반</a></li>
                          <li><a href="javascript:;" data-ng-click="SelectMatchMarketType(mt, '핸디캡')">핸디캡</a></li>
                          <li><a href="javascript:;" data-ng-click="SelectMatchMarketType(mt, '언더오버')">언더오버</a></li>
                        </ul>
                      </div>
                      <input type="text" class="form-control text-center" data-ng-model="mt.name">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" data-ng-click="PopMatchMarket($index)"><i class="fa fa-close"></i></button>
                      </span>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" data-ng-click="_matchMarket[$index] = !_matchMarket[$index]">
                          <i class="glyphicon" data-ng-class="{'glyphicon-chevron-down': !_matchMarket[$index], 'glyphicon-chevron-up': _matchMarket[$index]}"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="panel-body" data-ng-show="!_matchMarket[$index]">
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="button" class="btn green-soft" data-ng-click="PushMatchGame(mt)">새게임</button>
                      </div>
                    </div>
                    <br>
                    <div class="row" data-ng-repeat="gm in mt.game">
                      <div class="col-sm-12">
                        <div class="panel panel-success">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-6">
                                <button type="button" class="btn btn-danger" data-ng-click="PopMatchGame(mt, $index)"><i class="fa fa-close"></i></button>
                                <button type="button" class="btn " data-ng-class="{'btn-success': gm.show, 'btn-danger': !gm.show}" ng-model="gm.show" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"><span data-ng-show="gm.show">공개</span><span data-ng-show="!gm.show">비공개</span></button>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default" data-ng-click="PushMatchPick(gm)"><i class="fa fa-plus"></i></button>
                                  <button type="button" class="btn btn-default" data-ng-click="PopMatchPick(gm)"><i class="fa fa-minus"></i></button>
                                </div>
                              </div>
                              <div class="col-sm-6" data-ng-show="mt.btype !== '일반'">
                                <div class="input-group xs-padding-top">
                                  <span class="input-group-addon">기준</span>
                                  <input type="text" class="form-control" data-ng-model="gm.offset"> </div>
                              </div>
                            </div>
                            <br>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="table-scrollable">
                                  <table class="table table-hover table-center table-align-center table-nowrap">
                                    <thead>
                                      <tr class="active">
                                        <th>선택지</th>
                                        <th>배당</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr data-ng-repeat="pk in gm.pick">
                                        <td><input type="text" class="form-control" data-ng-model="pk.name"></td>
                                        <td><input type="text" class="form-control" data-ng-model="pk.rate"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-6" data-ng-if="e.type === 'site-answer'">
            <div class="row" dynamic-repeat="'ans in _item.' + e.bind">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="input-group">
                      <input type="text" class="form-control" data-ng-model="ans.action" placeholder="액션명 (한글, 영문, 숫자 최소 2자 최대 10자 이내)">
                      <span class="input-group-btn">
                        <button class="btn red" type="button" data-ng-click="PopSiteAnswer($index)"><i class="fa fa-close"></i></button>
                      </span>
                    </div>
                  </div>
                  <div class="panel-body">
                    <input type="text" class="form-control" data-ng-model="ans.title" placeholder="제목 (한글, 영문, 숫자 최소 2자 최대 50자 이내)">
                    <br>
                    <textarea class="form-control textarea-fixed-row" rows="5" data-ng-model="ans.content" placeholder="내용 (500자 이내)"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn purple" data-ng-click="PushSiteAnswer()">추가</button>
              </div>
            </div>
          </div>

          <div class="col-sm-7 col-md-6 col-lg-6" data-ng-if="e.type === 'kind-config'">
            <div class="row" dynamic-repeat="'kc in _item.' + e.bind">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="input-group">
                      <input type="text" class="form-control" data-ng-model="kc.name">
                      <div class="input-group-btn">
                        <button type="button" class="btn dropdown-toggle" data-ng-class="e.dropdown.class ? e.dropdown.class:'btn-default'" data-ng-disabled="_formAction === e.readonly" data-toggle="dropdown">
                          종목 <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                          <li data-ng-repeat="dd in e.dropdown.list"><a href data-ng-click="kc.name = dd[e.dropdown.property]">{{dd[e.dropdown.property]}}</a></li>
                        </ul>
                      </div>
                      <div class="input-group-btn">
                        <button class="btn red" type="button" data-ng-click="PopKindConfig($index)"><i class="fa fa-close"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="input-group">
                          <span class="input-group-addon">최대</span>
                          <input type="text" class="form-control" data-ng-model="kc.maxMulti">
                          <span class="input-group-addon">조합</span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="btn-group btn-group-justified">
                          <a href class="btn btn-default" data-ng-click="kc.nah = !kc.nah"> 일반 + 핸디캡 </a>
                          <a href class="btn" data-ng-class="{'btn-success': kc.nah, 'btn-danger': !kc.nah}" data-ng-click="kc.nah = !kc.nah"> <span data-ng-show="kc.nah">허용</span><span data-ng-show="!kc.nah">금지</span> </a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="btn-group btn-group-justified">
                          <a href class="btn btn-default" data-ng-click="kc.nau = !kc.nau"> 일반 + 언더오버 </a>
                          <a href class="btn" data-ng-class="{'btn-success': kc.nau, 'btn-danger': !kc.nau}" data-ng-click="kc.nau = !kc.nau"> <span data-ng-show="kc.nau">허용</span><span data-ng-show="!kc.nau">금지</span> </a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="btn-group btn-group-justified">
                          <a href class="btn btn-default" data-ng-click="kc.hau = !kc.hau"> 핸디캡 + 언더오버 </a>
                          <a href class="btn" data-ng-class="{'btn-success': kc.hau, 'btn-danger': !kc.hau}" data-ng-click="kc.hau = !kc.hau"> <span data-ng-show="kc.hau">허용</span><span data-ng-show="!kc.hau">금지</span> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button type="button" class="btn purple" data-ng-click="PushKindConfig()">추가</button>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-sm-12">
            <center>
              <button type="button" class="btn btn-circle green-soft" data-ng-if="_formAction === 'CREATE'" data-ng-click="Create()">완료</button>
              <button type="button" class="btn btn-circle yellow" data-ng-if="_formAction === 'MODIFY'" data-ng-click="Modify()">저장</button>
              <button type="button" class="btn btn-circle grey-salsa btn-outline" data-ng-click="Close()">취소</button>
              <button type="button" class="btn btn-circle grey-salsa btn-outline" data-ng-click="Debug()">디버그</button>
            </center>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
