<!-- first div class attr have 'col-xx-10' fixed. -->
<div class="row" data-ng-controller="DepositCtrl">
    <div class="col-sm-11">
        <!-- 1. Subject Info zone -->
        <div class="row">
            <div class="page-header">
                <h1>입금 관리<button type="button" class="btn btn-primary btn-xs" data-ng-click="FormOpen('CREATE')">추가</button></h1>
            </div>
        </div>

        <!-- 2. Alert Message zone -->
        <div class="row">
            <br>
            <div data-ng-class="{'alert alert-danger' : validator.type == 'error', 'alert alert-info' : validator.type == 'info', 'alert alert-success' : validator.type == 'correct'}" data-ng-show="validator.message">{{validator.message}}</div>
        </div>

        <!-- 3. Custom form zone -->
        <div data-ng-show="formSwitch" class="row">
            <br>
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="panel-title">입금 신청</label>
                            </div>
                            <div class="col-sm-8">
                                <div class="btn-group pull-right" role="group">
                                    <button type="button" data-ng-class="{'btn btn-success' : targetState === '신청', 'btn btn-default' : targetState !== '신청'}" data-ng-click="targetState = '신청'">신청</button>
                                    <button type="button" data-ng-class="{'btn btn-warning' : targetState === '승인', 'btn btn-default' : targetState !== '승인'}" data-ng-click="targetState = '승인'">승인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>아이디</label>
                                <input type="text" class="form-control" data-ng-readonly="formMode !== 'CREATE'" data-ng-model="targetUid" placeholder="(영문, 숫자 조합으로 2자 이상 16자 이내)">
                            </div>
                            <div class="col-sm-4">
                                <label>닉네임</label>
                                <input type="text" class="form-control" data-ng-readonly="formMode === 'VERIFY'" data-ng-model="targetNick" placeholder="(한글, 영문, 숫자 조합으로 2자 이상 16자 이내)">
                            </div>
                            <div class="col-sm-4">
                                <label>예금주(입금자명)</label>
                                <input type="text" class="form-control" data-ng-readonly="formMode === 'VERIFY'" data-ng-model="targetHolder" placeholder="(이름 형식)">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>입금 캐시</label>
                                <input type="text" class="form-control" data-ng-readonly="formMode === 'VERIFY'" data-ng-model="targetCash" placeholder="">
                            </div>
                            <div class="col-sm-4">
                                <label>사이트</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-readonly="formMode === 'VERIFY'" data-ng-model="targetSite">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-ng-disabled="formMode === 'VERIFY'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li data-ng-repeat="site in siteList"><a href="" data-ng-click="SelectSite(site.name)">{{site.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>총판</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-readonly="formMode === 'VERIFY'" data-ng-model="targetDistributor">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-ng-disabled="formMode === 'VERIFY'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">선택 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li data-ng-repeat="dist in distributorList"><a href="" data-ng-click="SelectDistributor(dist._id)">{{dist._id}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <center>
                                <button type="submit" class="btn btn-primary" data-ng-show="formMode === 'CREATE'" data-ng-click="Create()">신청</button>
                                <button type="submit" class="btn btn-warning" data-ng-show="formMode === 'UPDATE'" data-ng-click="Update()">수정</button>
                                <button type="button" class="btn btn-danger" data-ng-click="FormClose()">취소</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4. exception of no data zone -->
        <div data-ng-hide="docs.length > 0" class="row">
            <br>
            <button type="button" class="btn btn-success btn-lg" data-ng-click="Search('RESET')">처음으로</button>
        </div>

        <br>
        <div class="row" data-ng-show="docs.length > 0">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.pageSize">
                                    <span class="input-group-btn"><button class="btn btn-default" type="button" data-ng-click="ChangePageSize()">줄</button></span>
                                </div>
                            </div>
                            <div class="col-sm-offset-4 col-sm-6">
                                <div class="input-group pull-right">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span data-ng-show="query.searchFilter">{{query.searchFilter}} </span>
                                            <span data-ng-hide="query.searchFilter">선택 </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li data-ng-repeat="sch in searchFilters"><a href="" data-ng-click="query.searchFilter = sch">{{sch}}</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" data-ng-model="query.searchKeyword">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-ng-click="Search()">검색하기</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-ng-click="Search('RESET')">처음으로</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.site">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">사이트 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.site = '전체'">전체</a></li>
                                                <li data-ng-repeat="site in siteList"><a href="" data-ng-click="query.site = site.name">{{site.name}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.distributor">
                                    <div class="input-group-btn">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">총판 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.distributor = '전체'">전체</a></li>
                                                <li data-ng-repeat="dist in distributorList"><a href="" data-ng-click="query.distributor = dist._id">{{dist._id}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="query.state">
                                    <div class="input-group-btn ">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">상태 <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="" data-ng-click="query.state = '전체'">전체</a></li>
                                                <li><a href="" data-ng-click="query.state = '신청'">신청</a></li>
                                                <li><a href="" data-ng-click="query.state = '승인'">승인</a></li>
                                                <li><a href="" data-ng-click="query.state = '취소'">취소</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 6. main list zone -->
        <div class="row">
            <div class="col-sm-12" data-ng-show="docs.length > 0">
                <table class="table table-hover table-center">
                    <thead>
                        <tr>
                            <th><input type="checkbox" data-ng-model="selectAllSwitch" data-ng-click="SelectAll()"></th>
                            <th>사이트</th>
                            <th>총판</th>
                            <th>아이디</th>
                            <th>닉네임</th>
                            <th>예금주</th>
                            <th>금액</th>
                            <th>신청일시</th>
                            <th>처리일시</th>
                            <th>상태</th>
                            <th>옵션</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="doc in docs">
                            <td><input type="checkbox" data-ng-model="docs[$index].checked"></td>
                            <td>{{ doc.site }}</td>
                            <td>{{ doc.distributor }}</td>
                            <td>{{ doc.uid }}</td>
                            <td>{{ doc.nick }}</td>
                            <td>{{ doc.holder }}</td>
                            <td>{{ doc.cash | number }}원</td>
                            <td>{{ doc.createdAt }}</td>
                            <td>{{ doc.operatedAt }}</td>
                            <td data-ng-class="{'success' : doc.state === '승인', 'info': doc.state === '신청', 'danger': doc.state === '취소'}">{{ doc.state }}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" data-ng-if="doc.state == '신청'" data-ng-click="Accept(doc._id)">승인</button>
                                <button type="button" class="btn btn-primary btn-xs" data-ng-if="doc.state == '신청'" data-ng-click="Cancel(doc._id)">취소</button>
                                <button type="button" class="btn btn-warning btn-xs" data-ng-click="FormOpen('UPDATE', doc._id)">수정</button>
                                <button type="button" class="btn btn-info btn-xs" data-ng-click="FormOpen('VERIFY', doc._id)">확인</button>
                                <button type="button" class="btn btn-danger btn-xs" data-ng-click="Delete(doc._id, 'ONE')">삭제</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-danger btn-md" data-ng-click="DeleteAll()">선택삭제</button>
            </div>
        </div>

        <!-- list pagination zone -->
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <ul class="pagination">
                        <li>
                            <a href="" aria-label="Previous" data-ng-click="PreviousPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li data-ng-repeat="page in pages" data-ng-class="{active : page.active}"><a href="" data-ng-click="MovePage(page.number)">{{page.number}}</a></li>
                        <li>
                            <a href="" aria-label="Next" data-ng-click="NextPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</div>
