table.table-align-center thead tr th {
  text-align: center;
  vertical-align: middle;
}

table.table-align-center tbody tr td {
  text-align: center;
  vertical-align: middle;
}

table.thead-align-center thead tr th {
  text-align: center;
  vertical-align: middle;
}

table.tbody-align-center tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.textarea-fixed-row {
  resize: none;
}

.table-nowrap td {
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

input:-moz-read-only.input-readonly {
  background-color: #fff;
  cursor: default;
}

input:read-only.input-readonly {
  background-color: #fff;
  cursor: default;
}

input:read-only.input-readonly-noborder {
  border: 0;
  background-color: #fff;
  cursor: default;
}

input:-moz-read-only.input-readonly-noborder {
  border: 0;
  background-color: #fff;
  cursor: default;
}

@media (max-width: 768px) {
  .xs-padding-top {
    padding-top: 10px !important;
  }

  .xs-margin-top {
    margin-top: 10px !important;
  }
}

.dropdown>.arrow-right.dropdown-menu:before, .dropdown-toggle>.arrow-right.dropdown-menu:before, .btn-group>.arrow-right.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: auto;
  right: 20px;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e0e0e0;
  border-left: 8px solid transparent;
  content: '';
}

.dropdown>.arrow-right.dropdown-menu:after, .dropdown-toggle>.arrow-right.dropdown-menu:after, .btn-group>.arrow-right.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: auto;
  right: 21px;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}
